@if (this.votes.length && this.votes[0][0].uri != "") {
  @for (vote of votes; track vote[0].uri) {
    <mat-card class="song-card">
      <mat-card-content>
        <img [src]="vote[0].picture" class="albumimage" />
        <div class="written">
          <h3 class="title">
            {{ vote[0].title }}
          </h3>
          <h5 class="artists">
            {{ vote[0].artists?.join(", ") || "" }}
          </h5>
        </div>
        <button
          mat-mini-fab
          (click)="voteOnClick(vote[0])"
          class="votebutton"
          [disabled]="vote[1].some(checkUsername)"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <h3 class="empty-message">
    This looks empty, be the first to vote for a song!
  </h3>
}
