.search-box {
  margin-top: 1rem;
  // margin-left: 1rem;
  width: 100%;
}

.form-container {
  margin-left: 25%;
  width: 50%;
}

.search-button {
  display: inline-flex;
  align-items: center;
}

.empty-message {
  text-align: center;
}

.albumimage {
  height: 6rem;
  width: 6rem;
  white-space: nowrap;
  float: left;
}

.song-card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.written {
  white-space: nowrap;
  float: left;
  margin-left: 1rem;
}

.votebutton {
  float: right;
  top: 50%;
  transform: translateY(50%);
}
