/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {background-color: #303030;}
.spinner {
    padding: 0px 0px 0px 0px;
}

  .spacer {
    flex: 500 0 10px;
  }

  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .minispacer {
    flex: 1 0 5px;
}
